@font-face {
  font-family: 'Univers LT Std';
  src: url('../fonts/UniversLTStd-Bold.otf');
  font-weight: 800;
}

html{
  font-size: 16px;
  font-family: 'Univers LT Std', serif;
  font-weight: 800;
}

body{
  margin: 4rem 1rem 1rem 1rem;
}

h1,
h2,
h3,
ul,
li,
p{
  font-weight: 800;
  line-height: 1.1em;
  margin: 0;
}

a:link,
a:visited{
  color: #000;
  text-decoration: none;
}

.text_size{
  font-size: 1rem;
}

.small_text_size{
  font-size: 0.7rem;  
}

header{
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  left: 0;
  right: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;
  /*background-color: #fff;*/
}

footer{
  text-align: right;
}

#plant{
  height: 1.1rem;
}

main{
}

#filters{
  display: inline-block;
  margin-right: 1rem;
  width: auto;
  position: sticky;
  -webkit-position: sticky;
  top: 4rem;
}

.project{
  display: inline;
  margin-right: 1rem;
}

.project:hover .credits{
  border: 1px solid #000;
}

.project:hover img{
  border-radius: 2rem;
}

.credits{
  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 1rem;
  margin-right: 1rem;
  padding: 0.5rem;
  padding-bottom: 0.35rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: border ease 0.2s;
}

.project img{
  display: inline-block;
  vertical-align: middle;
  max-width: 16%;
  max-height: 50vh;
  margin-right: 1rem;
  margin-bottom: 1rem;
  transition: border-radius ease 0.2s;
}

.slideshow_open #slideshow{
  transform: translateY(0);
  -webkit-transform: translateY(0);
}

#slideshow{
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transition: transform ease 0.4s;
  -webkit-transition: transform ease 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

#slideshow img{
  position: absolute;
  top: calc(50%);
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: calc(100% - 6rem);
  max-width: 90%;
}

#slideshow img.arrow{
  width: 3rem;
  max-width: auto;
  max-height: auto;
  top: 50%;
  transform: translateY(-50%);
}

#slideshow img.arrow.close{
  top: 1rem;
  left: auto;
  right: 1rem;
  transform: translateY(0%);
}

#slideshow img.arrow.prev{
  left: 1rem;
}

#slideshow img.arrow.next{
  left: auto;
  right: 1rem;
}

.slide{
  opacity: 1;
  transition: opacity ease 0.4s;
  -webkit-transition: opacity ease 0.4s;
}

#slideshow p{
  position: absolute;
  width: 100%;
  bottom: 1rem;
  margin-bottom: 0;
  text-align: center;
}

.zoom_image:hover{
  cursor: zoom-in;
}

#slideshow_caption{
  position: absolute;
  top: 1rem;
  left: 1rem;
  opacity: 1;
  transition: opacity ease 0.25s;
  -webkit-transition: opacity ease 0.25s;
}

.fade_transition .slide{
  opacity: 0;
}

.transitioning #slideshow_caption{
  opacity: 0; 
}

.slide_transition.transitioning .slide{
  transition: opacity ease 0.4s, transform ease 0.65s;
  -webkit-transition: opacity ease 0.4s, transform ease 0.65s;
}

.slide_transition.next #slideshow img.next_slide{
  transform: translate(-50%, 100%);
}

.slide_transition.next.transitioning #slideshow img.next_slide{
  transform: translate(-50%, -50%);
}
.slide_transition.next.transitioning #slideshow img.current_slide{
  transform: translate(-50%, -200%);
}


.slide_transition.prev #slideshow img.next_slide{
  transform: translate(-50%, -200%);
}

.slide_transition.prev.transitioning #slideshow img.next_slide{
  transform: translate(-50%, -50%);
}
.slide_transition.prev.transitioning #slideshow img.current_slide{
  transform: translate(-50%, 100%);
}